/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-353-name: 's_353';
$s-353-x: 0px;
$s-353-y: 853px;
$s-353-offset-x: 0px;
$s-353-offset-y: -853px;
$s-353-width: 1199px;
$s-353-height: 899px;
$s-353-total-width: 2080px;
$s-353-total-height: 1752px;
$s-353-image: 'sprite.png';
$s-353: (0px, 853px, 0px, -853px, 1199px, 899px, 2080px, 1752px, 'sprite.png', 's_353', );
$s-464-name: 's_464';
$s-464-x: 1280px;
$s-464-y: 0px;
$s-464-offset-x: -1280px;
$s-464-offset-y: 0px;
$s-464-width: 800px;
$s-464-height: 545px;
$s-464-total-width: 2080px;
$s-464-total-height: 1752px;
$s-464-image: 'sprite.png';
$s-464: (1280px, 0px, -1280px, 0px, 800px, 545px, 2080px, 1752px, 'sprite.png', 's_464', );
$s-466-name: 's_466';
$s-466-x: 0px;
$s-466-y: 0px;
$s-466-offset-x: 0px;
$s-466-offset-y: 0px;
$s-466-width: 1280px;
$s-466-height: 853px;
$s-466-total-width: 2080px;
$s-466-total-height: 1752px;
$s-466-image: 'sprite.png';
$s-466: (0px, 0px, 0px, 0px, 1280px, 853px, 2080px, 1752px, 'sprite.png', 's_466', );
$spritesheet-width: 2080px;
$spritesheet-height: 1752px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($s-353, $s-464, $s-466, );
$spritesheet: (2080px, 1752px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
