/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-close-name: 's_close';
$s-close-x: 47px;
$s-close-y: 54px;
$s-close-offset-x: -47px;
$s-close-offset-y: -54px;
$s-close-width: 28px;
$s-close-height: 28px;
$s-close-total-width: 130px;
$s-close-total-height: 123px;
$s-close-image: 'sprite.png';
$s-close: (47px, 54px, -47px, -54px, 28px, 28px, 130px, 123px, 'sprite.png', 's_close', );
$s-edu-name: 's_edu';
$s-edu-x: 0px;
$s-edu-y: 0px;
$s-edu-offset-x: 0px;
$s-edu-offset-y: 0px;
$s-edu-width: 52px;
$s-edu-height: 52px;
$s-edu-total-width: 130px;
$s-edu-total-height: 123px;
$s-edu-image: 'sprite.png';
$s-edu: (0px, 0px, 0px, 0px, 52px, 52px, 130px, 123px, 'sprite.png', 's_edu', );
$s-fb-red-name: 's_fb-red';
$s-fb-red-x: 108px;
$s-fb-red-y: 0px;
$s-fb-red-offset-x: -108px;
$s-fb-red-offset-y: 0px;
$s-fb-red-width: 22px;
$s-fb-red-height: 22px;
$s-fb-red-total-width: 130px;
$s-fb-red-total-height: 123px;
$s-fb-red-image: 'sprite.png';
$s-fb-red: (108px, 0px, -108px, 0px, 22px, 22px, 130px, 123px, 'sprite.png', 's_fb-red', );
$s-fb-name: 's_fb';
$s-fb-x: 77px;
$s-fb-y: 54px;
$s-fb-offset-x: -77px;
$s-fb-offset-y: -54px;
$s-fb-width: 22px;
$s-fb-height: 22px;
$s-fb-total-width: 130px;
$s-fb-total-height: 123px;
$s-fb-image: 'sprite.png';
$s-fb: (77px, 54px, -77px, -54px, 22px, 22px, 130px, 123px, 'sprite.png', 's_fb', );
$s-sbs-desc-name: 's_sbs-desc';
$s-sbs-desc-x: 54px;
$s-sbs-desc-y: 0px;
$s-sbs-desc-offset-x: -54px;
$s-sbs-desc-offset-y: 0px;
$s-sbs-desc-width: 52px;
$s-sbs-desc-height: 52px;
$s-sbs-desc-total-width: 130px;
$s-sbs-desc-total-height: 123px;
$s-sbs-desc-image: 'sprite.png';
$s-sbs-desc: (54px, 0px, -54px, 0px, 52px, 52px, 130px, 123px, 'sprite.png', 's_sbs-desc', );
$s-share-name: 's_share';
$s-share-x: 0px;
$s-share-y: 54px;
$s-share-offset-x: 0px;
$s-share-offset-y: -54px;
$s-share-width: 45px;
$s-share-height: 45px;
$s-share-total-width: 130px;
$s-share-total-height: 123px;
$s-share-image: 'sprite.png';
$s-share: (0px, 54px, 0px, -54px, 45px, 45px, 130px, 123px, 'sprite.png', 's_share', );
$s-tel-name: 's_tel';
$s-tel-x: 108px;
$s-tel-y: 24px;
$s-tel-offset-x: -108px;
$s-tel-offset-y: -24px;
$s-tel-width: 22px;
$s-tel-height: 22px;
$s-tel-total-width: 130px;
$s-tel-total-height: 123px;
$s-tel-image: 'sprite.png';
$s-tel: (108px, 24px, -108px, -24px, 22px, 22px, 130px, 123px, 'sprite.png', 's_tel', );
$s-tw-red-name: 's_tw-red';
$s-tw-red-x: 108px;
$s-tw-red-y: 48px;
$s-tw-red-offset-x: -108px;
$s-tw-red-offset-y: -48px;
$s-tw-red-width: 22px;
$s-tw-red-height: 22px;
$s-tw-red-total-width: 130px;
$s-tw-red-total-height: 123px;
$s-tw-red-image: 'sprite.png';
$s-tw-red: (108px, 48px, -108px, -48px, 22px, 22px, 130px, 123px, 'sprite.png', 's_tw-red', );
$s-tw-name: 's_tw';
$s-tw-x: 108px;
$s-tw-y: 72px;
$s-tw-offset-x: -108px;
$s-tw-offset-y: -72px;
$s-tw-width: 22px;
$s-tw-height: 22px;
$s-tw-total-width: 130px;
$s-tw-total-height: 123px;
$s-tw-image: 'sprite.png';
$s-tw: (108px, 72px, -108px, -72px, 22px, 22px, 130px, 123px, 'sprite.png', 's_tw', );
$s-vk-red-name: 's_vk-red';
$s-vk-red-x: 0px;
$s-vk-red-y: 101px;
$s-vk-red-offset-x: 0px;
$s-vk-red-offset-y: -101px;
$s-vk-red-width: 22px;
$s-vk-red-height: 22px;
$s-vk-red-total-width: 130px;
$s-vk-red-total-height: 123px;
$s-vk-red-image: 'sprite.png';
$s-vk-red: (0px, 101px, 0px, -101px, 22px, 22px, 130px, 123px, 'sprite.png', 's_vk-red', );
$s-vk-name: 's_vk';
$s-vk-x: 24px;
$s-vk-y: 101px;
$s-vk-offset-x: -24px;
$s-vk-offset-y: -101px;
$s-vk-width: 22px;
$s-vk-height: 22px;
$s-vk-total-width: 130px;
$s-vk-total-height: 123px;
$s-vk-image: 'sprite.png';
$s-vk: (24px, 101px, -24px, -101px, 22px, 22px, 130px, 123px, 'sprite.png', 's_vk', );
$spritesheet-width: 130px;
$spritesheet-height: 123px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($s-close, $s-edu, $s-fb-red, $s-fb, $s-sbs-desc, $s-share, $s-tel, $s-tw-red, $s-tw, $s-vk-red, $s-vk, );
$spritesheet: (130px, 123px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: '../img/'+nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
