.content {
    width: 100%;
    float: left;
    &__inner {
        padding: 20px;
    }
}

.sidebar + .content {
    padding-left: $sidebar-width + $sidebar-margin;
}

.test-sprite {
    width: 22px;
    height: 22px;
    @include sprite($s-vk);
    &:hover {
        @include sprite($s-vk-red);
    }
}

@media only screen and (max-width: 1280px) {}

@media only screen and (max-width: 1140px) {}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 960px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 568px) {}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 320px) {}
