.layout-wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;

    &__pusher {
        padding-bottom: $footer-height + $footer-margin;
    }

    &__container {
        @extend %layout;
    }

    @media screen and (min-width: $min-phone) and (max-width: $max-desktop) {
        background-color: red;
    }
}

// .wrapper {
//     background-image: url("https://c7.staticflickr…");  
// }

// @supports (background-blend-mode: hue) {
//     .wrapper {
//         background-image: linear-gradient(lightblue 0%, pink 100%),
//         linear-gradient(to right, pink 30%, white 100%), url("https://c7.staticflickr.com/2/1510/…");  
//         background-blend-mode: hue;
//     }
// }

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}
